/* styling for the navbar */
.nav-bar1 {
  width: 100vw;
  background-color: rgb(12, 7, 114);
  /* if html puts a space at the top of the element you can add padding it takes away */
  padding: 5px;
  margin-right: 40px;
}
.nav-bar-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}
.nav-bar-text {
  margin-left: 10px;
  font-weight: 600;
  cursor: pointer;
  color: aliceblue;
}
/* hover example below */
.nav-bar-text:hover {
  color: gold;
}

/* styling for the username and password form  */
.form-container {
  text-align: center;
  margin-top: 20em;
  background-color: antiquewhite;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-style: ridge;
  border-radius: 5px;
  border-width: 1em;
  border-color: blueviolet;
}
/* styling buttons in form */
.button-login {
  background-color: rgb(20, 151, 211);
  margin: 10px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 4px;
}
.button-forgot-password {
  background-color: rgb(20, 151, 211);
  margin: 10px;
  cursor: pointer;
  border-radius: 4px;
}
/* hover effects i learned from the lab */
.button-login:hover {
  color: gold;
}
.button-forgot-password:hover {
  color: gold;
}
/* styling text boxes for spacing */
.text-boxes {
  margin: 5px;
}
